<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
  <title>Home</title>
{% endblock %}

{% block body_block %}
  <!-- jumbotron -->
  <div class="jumbotron">
    <h1>Hello! Welcome to the homepage</h1>
  </div>
  <!-- end: jumbotron -->

  <!-- code injection -->
  <div class="container">
    <p><img src="{% static "images/djangoguitar.jpg" %}" alt="Django himself"></p>
    <p>{{ insert_me }}</p>
  </div>
  <!-- end: code injection -->

  {% include 'includes/ad.html' %}
{% endblock %}
