<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
  <title>App1 Index</title>
{% endblock %}

{% block body_block %}
  <!-- jumbotron -->
  <div class="jumbotron">
    <h1>App1 Index</h1>
  </div>
  <!-- end: jumbotron -->

  <div class="Table-Records">
    {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        <tbody>
        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No Data</p>
    {% endif %}
  </div>
{% endblock %}
