html,
body {
    font-family: 'Ubuntu', sans-serif !important;
}

h1 {
    color: blue;
}

table {
    border: 1px solid grey;
}

th {
    font-weight: bold;
}

td {
    padding: 4px;
    border: 1px solid lightgray;
}

.Table-Records {
    text-align: center;
    margin: 0 auto;
}