<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
  <title>Userprofiless Index</title>
{% endblock %}

{% block body_block %}
  <!-- jumbotron -->
  <div class="jumbotron">
    <h1>Userprofiless Index</h1>
  </div>
  <!-- end: jumbotron -->

  <div class="Table-Records">
    {% if user_records %}
      <table>
        <thead>
          <th>Username</th>
          <th>Email</th>
          <th>Site</th>
          <th>Pic</th>
        </thead>
        <tbody>
        {% for user in user_records %}
        <tr>
          <td>{{ user.user.username }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.portfolio_site }}</td>
          <td><img src="{% get_media_prefix %}{{ user.profile_pic }}" width="50" height="50"/></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No Data</p>
    {% endif %}
  </div>
{% endblock %}