<!DOCTYPE html>
{% load static %}
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <h1>Users</h1>

    <div class="Table-Records">
      {% if user_records %}
        <table>
          <thead>
            <th>Forename</th>
            <th>Surname</th>
            <th>Email</th>
          </thead>
          <tbody>
          {% for user in user_records %}
          <tr>
            <td>{{ user.forename }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No Data</p>
      {% endif %}
    </div>
  </body>
</html>